<div
  id="{{id}}"
  class="gm-screen-app {{#if expanded}}expanded{{/if}} {{#if hidden}}hidden{{/if}} {{classes}} {{#if displayDrawer}}window-app gm-screen-drawer{{/if}}"
  {{#if displayDrawer}} style="
   opacity: {{drawerOpacity}};
   --gm-screen-width: {{drawerWidth}};
   --gm-screen-height: {{drawerHeight}}vh;
   --gm-screen-right-offset: {{rightMargin}}vw;
   " {{/if}}>  
</div>